<!doctype html>
<html>
<head>
    <%= partial "site-head" %>
</head>

<body>
    <div class="feature no-mobile">
        <%= partial "recent-episodes" %>
    </div>

    <div class="half">
        <div class="contents">
            
            <h1><a href="/"><%= partial "site-title" %></a></h1>
            
            <h2 class="guest"><%= current_article.title unless current_article.nil? %></h2>
            
            
            
            <%= yield %>
            
            <hr>
            
            <%= partial "site-about" %>
            
        </div>
    </div>
  </body>
</html>