<!doctype html>
<html>
<head>
    <%= partial "site-head" %>
</head>

<body class="permalink">
    <div class="feature no-mobile">
        <%= partial "recent-episodes" %>
    </div>

    <div class="half">
        <div class="contents">
            
            <nav><a href="/" class="nav-home">Home</a> <em>/</em> <a href="#about" class="nav-about">About</a> <em>/</em> <a href="#contact" class="nav-about">Contact</a></nav>
            
            <h1><a href="/"><%= partial "site-title" %></a></h1>
            
            <p class="intro"><%= partial "site-description" %></p>            
            
            <%= yield %>
            
            <hr>
            
            <%= partial "site-about" %>
            
        </div>
    </div>
  </body>
</html>