<aside>
  <h2>Subscribe</h2>
  <div class="subscribe">
      <a href="#" class="subscribe-itunes">iTunes</a> <a href="#" class="subscribe-google">Google Play</a> <a href="#" class="subscribe-rss">RSS</a></div>
    
  <h2>Recent episodes</h2>
    
  <ol class="article-list">
    <% blog.articles[0...10].each do |article| %>
      <li>
          <a href="#"><img src="/images/episodes/<%= article.data.img %>" class="article-image"></a>
          <h4><%= link_to article.title, article %></h4>
          <p class="article-subtitle"><%= article.data.subtitle %></p>
          <div class="article-date">Episode <%= article.data.episode %> &#8212; <%= article.date.strftime('%b %e, %Y') %></div>
      </li>
    <% end %>
  </ol>

  <!--h2>Tags</h2>
  <ol>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ol-->

  <!--h2>By Year</h2>
  <ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
  </ol-->
</aside>

<footer><a href="http://twitter.com/_hardproblems"><img src="/images/twitter.png"></a> <a href="http://instagram.com/_hardproblems"><img src="/images/instagram.png"></a></footer>