<aside>
  <h2>Subscribe</h2>
  <div class="subscribe">
      <a href="https://itunes.apple.com/us/podcast/hard-problems-podcast/id1455764957?mt=2" class="subscribe-itunes">iTunes</a>
      <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/I3p5k7cqi66nsly52r67kyicrqu?t%3DHard_Problems_Podcast%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16" class="subscribe-google">Google</a>
      <a href="https://open.spotify.com/show/537pmS2MOcpdXqzBuN0phT" class="subscribe-spotify">Spotify</a>
      <a href="https://feeds.simplecast.com/4jJ9kuOJ" class="subscribe-rss">RSS</a>
  </div>
    
  <h2>Recent episodes</h2>
    
  <ol class="article-list">
    <% blog.articles[0...10].each do |article| %>
      <li>
          <a href="#"><img src="/images/episodes/<%= article.data.img %>" class="article-image"></a>
          <h4><%= link_to article.title, article %></h4>
          <p class="article-subtitle"><%= article.data.subtitle %></p>
          <div class="article-date">Episode <%= article.data.episode %> &#8212; <%= article.date.strftime('%b %e, %Y') %></div>
      </li>
    <% end %>
  </ol>

  <!--h2>Tags</h2>
  <ol>
    <% blog.tags.each do |tag, articles| %>
      <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
    <% end %>
  </ol-->

  <!--h2>By Year</h2>
  <ol>
    <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
      <li><%= link_to "#{year} (#{articles.size})", blog_year_path(year) %></li>
    <% end %>
  </ol-->
</aside>

<footer><a href="http://twitter.com/_hardproblems"><img src="/images/twitter.png"></a> <a href="http://instagram.com/_hardproblems"><img src="/images/instagram.png"></a></footer>