<!doctype html>
<html>
<head>
    <%= partial "site-head" %>
</head>

<body>
    <div class="feature">
        <%= partial "recent-episodes" %>
    </div>

    <div class="half">
        <div class="contents">
            
            <nav><a href="/"><%= partial "site-title" %></a></nav>
            
            <h1 class="guest"><%= current_article.title unless current_article.nil? %></h1>
            
            <p class="intro"><%= current_article.data.subtitle %></p>
            
            <!--img src="/images/episodes/<%= current_article.data.img %>" class="episode-image"-->
            
            <%= yield %>
            
            <hr>
            
            <%= partial "site-about" %>
            
        </div>
    </div>
  </body>
</html>